/* CSS for the rest of the page */
body {
	margin: 1em;
}
/* CSS for OpenLayers. */
#map {
	float: right;
	width: 79%;
	height: 450px;
	border: 1px solid black;
}

#leftPanel {
	float: left;
	width: 20%;
	height: 450px;
	border: 1px solid black;
}

#headerLeft {
	width: 50%;
	height: 100px;
	float:left;
}
#headerRight {
	width: 50%;
	height: 100px;
	float:right;
}
